.DS_Store
.*.swp
/BGMDriver/BGMDriver/quick_install.conf
/build_and_install.log
.idea/
tags
cmake-build-debug/
/Background-Music-*/
BGM.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Images/*.aux
Images/*.log
/archives/

# Everything below is from https://github.com/github/gitignore/blob/master/Objective-C.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
BGMApp/Pods/Manifest.lock
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDI.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIChannelEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIChannelPressureCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIChannelPressureEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIChannelVoiceCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIChannelVoiceCommand_SubclassMethods.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIClientDestinationEndpoint.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIClientSourceEndpoint.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIClock.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDICommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDICommand_SubclassMethods.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDICommandScheduler.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDICommandThrottler.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDICompilerCompatibility.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIConnectionManager.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIControlChangeCommand+Private.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIControlChangeCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIControlChangeEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIDestinationEndpoint.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIDevice.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIDeviceManager.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIEndpoint.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIEndpointSynthesizer.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIEntity.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIErrors.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIEvent_SubclassMethods.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIEventIterator.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIInputPort.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMappableResponder.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMapping.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMappingGenerator.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMappingItem.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMappingManager.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMappingXMLParser.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaCopyrightEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaCuePointEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaEvent_SubclassMethods.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaInstrumentNameEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaKeySignatureEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaLyricEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaMarkerTextEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaSequenceEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaTextEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaTimeSignatureEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetaTrackSequenceNameEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIMetronome.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDINoteCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDINoteCommand_SubclassMethods.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDINoteEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDINoteOffCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDINoteOnCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIObject.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIObject_SubclassMethods.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIOutputPort.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIPitchBendChangeCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIPitchBendChangeEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIPlayer.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIPolyphonicKeyPressureCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIPolyphonicKeyPressureEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIPort.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIPort_SubclassMethods.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIPrivate.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIPrivateUtilities.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIProgramChangeCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIProgramChangeEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIResponder.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISequence+MIKMIDIPrivate.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISequence.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISequencer+MIKMIDIPrivate.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISequencer.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISourceEndpoint.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISynthesizer.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISynthesizer_SubclassMethods.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISynthesizerInstrument.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISystemExclusiveCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISystemKeepAliveCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDISystemMessageCommand.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDITempoEvent.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDITrack.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDITrack_Protected.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDITransmittable.h
BGMApp/Pods/Headers/Private/MIKMIDI/MIKMIDIUtilities.h
BGMApp/Pods/Headers/Private/MIKMIDI/NSUIApplication+MIKMIDI.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDI.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIChannelEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIChannelPressureCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIChannelPressureEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIChannelVoiceCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIChannelVoiceCommand_SubclassMethods.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIClientDestinationEndpoint.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIClientSourceEndpoint.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIClock.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDICommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDICommand_SubclassMethods.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDICommandScheduler.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDICommandThrottler.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDICompilerCompatibility.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIConnectionManager.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIControlChangeCommand+Private.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIControlChangeCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIControlChangeEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIDestinationEndpoint.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIDevice.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIDeviceManager.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIEndpoint.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIEndpointSynthesizer.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIEntity.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIErrors.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIEvent_SubclassMethods.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIEventIterator.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIInputPort.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMappableResponder.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMapping.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMappingGenerator.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMappingItem.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMappingManager.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMappingXMLParser.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaCopyrightEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaCuePointEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaEvent_SubclassMethods.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaInstrumentNameEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaKeySignatureEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaLyricEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaMarkerTextEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaSequenceEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaTextEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaTimeSignatureEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetaTrackSequenceNameEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIMetronome.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDINoteCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDINoteCommand_SubclassMethods.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDINoteEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDINoteOffCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDINoteOnCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIObject.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIObject_SubclassMethods.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIOutputPort.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIPitchBendChangeCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIPitchBendChangeEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIPlayer.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIPolyphonicKeyPressureCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIPolyphonicKeyPressureEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIPort.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIPort_SubclassMethods.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIPrivate.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIProgramChangeCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIProgramChangeEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIResponder.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISequence+MIKMIDIPrivate.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISequence.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISequencer+MIKMIDIPrivate.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISequencer.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISourceEndpoint.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISynthesizer.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISynthesizer_SubclassMethods.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISynthesizerInstrument.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISystemExclusiveCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISystemKeepAliveCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDISystemMessageCommand.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDITempoEvent.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDITrack.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDITrack_Protected.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDITransmittable.h
BGMApp/Pods/Headers/Public/MIKMIDI/MIKMIDIUtilities.h
BGMApp/Pods/Headers/Public/MIKMIDI/NSUIApplication+MIKMIDI.h
BGMApp/Pods/MIKMIDI/LICENSE
BGMApp/Pods/MIKMIDI/README.md
BGMApp/Pods/MIKMIDI/Source/MIKMIDI.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIChannelEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIChannelEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIChannelPressureCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIChannelPressureCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIChannelPressureEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIChannelPressureEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIChannelVoiceCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIChannelVoiceCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIChannelVoiceCommand_SubclassMethods.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIClientDestinationEndpoint.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIClientDestinationEndpoint.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIClientSourceEndpoint.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIClientSourceEndpoint.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIClock.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIClock.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDICommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDICommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDICommand_SubclassMethods.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDICommandScheduler.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDICommandThrottler.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDICommandThrottler.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDICompilerCompatibility.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIConnectionManager.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIConnectionManager.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIControlChangeCommand+Private.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIControlChangeCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIControlChangeCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIControlChangeEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIControlChangeEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIDestinationEndpoint.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIDestinationEndpoint.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIDevice.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIDevice.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIDeviceManager.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIDeviceManager.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEndpoint.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEndpoint.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEndpointSynthesizer.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEndpointSynthesizer.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEntity.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEntity.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIErrors.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIErrors.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEvent_SubclassMethods.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEventIterator.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIEventIterator.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIInputPort.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIInputPort.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMacDebugQuickLookSupport.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMappableResponder.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMapping.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMapping.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMappingGenerator.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMappingGenerator.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMappingItem.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMappingItem.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMappingManager.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMappingManager.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMappingXMLParser.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMappingXMLParser.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaCopyrightEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaCopyrightEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaCuePointEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaCuePointEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaEvent_SubclassMethods.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaInstrumentNameEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaInstrumentNameEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaKeySignatureEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaKeySignatureEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaLyricEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaLyricEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaMarkerTextEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaMarkerTextEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaSequenceEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaSequenceEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaTextEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaTextEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaTimeSignatureEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaTimeSignatureEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaTrackSequenceNameEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetaTrackSequenceNameEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetronome.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIMetronome.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDINoteCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDINoteCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDINoteCommand_SubclassMethods.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDINoteEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDINoteEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDINoteOffCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDINoteOffCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDINoteOnCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDINoteOnCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIObject.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIObject.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIObject_SubclassMethods.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIOutputPort.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIOutputPort.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPitchBendChangeCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPitchBendChangeCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPitchBendChangeEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPitchBendChangeEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPlayer.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPlayer.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPolyphonicKeyPressureCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPolyphonicKeyPressureCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPolyphonicKeyPressureEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPolyphonicKeyPressureEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPort.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPort.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPort_SubclassMethods.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPrivate.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPrivateUtilities.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIPrivateUtilities.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIProgramChangeCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIProgramChangeCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIProgramChangeEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIProgramChangeEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDIResponder.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISequence+MIKMIDIPrivate.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISequence.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISequence.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDISequencer+MIKMIDIPrivate.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISequencer.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISequencer.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDISourceEndpoint.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISourceEndpoint.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDISynthesizer.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISynthesizer.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDISynthesizer_SubclassMethods.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISynthesizerInstrument.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISynthesizerInstrument.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDISystemExclusiveCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISystemExclusiveCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDISystemKeepAliveCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISystemKeepAliveCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDISystemMessageCommand.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDISystemMessageCommand.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDITempoEvent.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDITempoEvent.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDITrack.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDITrack.m
BGMApp/Pods/MIKMIDI/Source/MIKMIDITrack_Protected.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDITransmittable.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIUtilities.h
BGMApp/Pods/MIKMIDI/Source/MIKMIDIUtilities.m
BGMApp/Pods/MIKMIDI/Source/NSUIApplication+MIKMIDI.h
BGMApp/Pods/MIKMIDI/Source/NSUIApplication+MIKMIDI.m
BGMApp/Pods/Pods.xcodeproj/project.pbxproj
BGMApp/Pods/Target Support Files/MIKMIDI/MIKMIDI-dummy.m
BGMApp/Pods/Target Support Files/MIKMIDI/MIKMIDI-prefix.pch
BGMApp/Pods/Target Support Files/MIKMIDI/MIKMIDI.debug.xcconfig
BGMApp/Pods/Target Support Files/MIKMIDI/MIKMIDI.release.xcconfig
BGMApp/Pods/Target Support Files/Pods-Background Music/Pods-Background Music-acknowledgements.markdown
BGMApp/Pods/Target Support Files/Pods-Background Music/Pods-Background Music-acknowledgements.plist
BGMApp/Pods/Target Support Files/Pods-Background Music/Pods-Background Music-dummy.m
BGMApp/Pods/Target Support Files/Pods-Background Music/Pods-Background Music.debug.xcconfig
BGMApp/Pods/Target Support Files/Pods-Background Music/Pods-Background Music.debugopt.xcconfig
BGMApp/Pods/Target Support Files/Pods-Background Music/Pods-Background Music.release.xcconfig
